*{
    margin:0%
}
.btn{
    padding: 15px;
    background-color: blueviolet;
    color:white;
    font-weight: 600;
    border-radius: 10px;
}
.Show_Request{
    float:right;
    padding: 10px;
    background-color: black;
    border-radius: 50px;
    color:white;
    text-decoration: none;
}
    
